@model IEnumerable<LagerSystem_Skelleftea.Models.StockItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<form method="get">
    <div class="col-md-6">
        @Html.TextBox("Search", null, new { @class="form-control", autofocus=""})
        <!--<input class="form-control text-box" id="Search" name="Search" type="text" placeholder="Search" />
        <input type="submit" value="Search" class="btn btn-xs" />-->
    </div>
</form>
        <table class="table">
            <tr>
                <th>

                    @Html.ActionLink("Name", "Index", new { sort = "Name" })
                </th>
                <th>
                    @Html.ActionLink("Price", "Index", new { sort = "Price" })
                </th>
                <th>
                    @Html.ActionLink("Shelf", "Index", new { sort = "Shelf" })
                </th>
                <th>
                    @Html.ActionLink("Description", "Index", new { sort = "Description" })
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Shelf)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id=item.ItemID }) |
                        @Html.ActionLink("Details", "Details", new { id=item.ItemID }) |
                        @Html.ActionLink("Delete", "Delete", new { id=item.ItemID })
                    </td>
                </tr>
}

        </table>
